.footer__contenedor-uv {
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 4rem;
    box-shadow: rgba(26, 82, 157, 0.5) 0px 25px 20px 20px;
    margin-bottom: 0 !important;
}