$color-azul: #1A529D;
$color-naranja: #CE5958;
$color-morado: #372E5C;
$color-gris-verde: #D6DBD3;
$color-azul-claro: #E7EFF8;
$color-gris: #F2F2F2;
$color-amarillo: #F5EFCF;
$color-blanco: #ffffff;
$sombra: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
$transicion: color 200ms linear, background 200ms linear;