.contenedor-info-ee {
    background: $color-gris-verde;
    padding: 2rem;
}

.info-ee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    max-width: 33rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    color: $color-morado;
}

.info-ee__termino,
.info-ee__descripcion {
    padding: 1rem 2rem;
    border-top: $color-morado 1px solid;
    border-bottom: $color-morado 1px solid;
    display: flex;
    align-items: center;
}

.info-ee .info-ee__termino:last-of-type,
.info-ee .info-ee__descripcion:last-of-type {
    border-bottom: none;
}

.info-ee .info-ee__termino:first-of-type,
.info-ee .info-ee__descripcion:first-of-type {
    border-top: none;
}

.info-ee__termino {
    background: $color-azul-claro;
    border-right: $color-morado 1px solid;
    font-weight: 400;
}

.info-ee__descripcion {
    background: $color-blanco;
    border-left: $color-morado 1px solid;
    margin-bottom: 0;    
}