@import 'presentacion';
@import 'info-ee';
@import 'experto';
@import 'ws';
@import 'bibliography';

.cuerpo-index {
    .header__brand {
        color: transparent;
    }
}

.scrolling {
    .header__brand {
        color: $color-blanco !important;
    }
}

.referencia {
    text-indent: -2rem;
    margin-left: 2rem;
}