.w-btn {
    width: 200px;
    background-color: red;
    background: #393E7C;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    border: 2px solid #393E7C;
}

.unit-parrafo {
    margin-bottom: -.5rem;
    text-align: center;
}

.container-button {
    padding: 1rem;
    position: relative;
}

.line-unit {
    width: 65px;
    height: 3px;
    background-color: #823F6A;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.titulo-section-temario {
    width: 450px;
    margin: auto;
    background-color: #ffffff;
    padding: 1.5rem .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #393E7C;
    font-weight: bold;
    font-size: 1.3rem;
}

.position-btn-evaluation {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.section-img {
    padding: 1rem;
}

.img-section {
    display: flex;
    margin: auto;
    width: 90%;
}

.ulist{
    padding: 0.4rem 1.4rem;
}

.li-list{
    padding-left: 1rem;
}

.subtitles{
    color: #482567;
    font-weight: bold;
}

.fondotabs-movil{
    background-color: #F8F6F6;
}

.space{
    padding: 1rem 0;
}
.mt{
    margin-top: 2rem;
}

.from-ul{
    display: flex;    
    justify-content: end;
    align-items: flex-start;
}